.footer {
    background-color: #333;
    padding-block: 60px;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        color: var(--text-color-light);
        font-family: 'FuturaBookC';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 122.8%; /* 22.104px */
        display: flex;
        gap: 36px;
    }

    &-button {
        background: #969af7;
        padding-inline: 53px;
    }
}

@media (max-width: 1280px) {
    .footer-wrapper {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 810px) {
    .footer__list {
        flex-direction: column;
        gap: 15px;
    }
}
