@font-face {
    font-family: 'FuturaBookC';
    src: url(./FuturaBookC\ Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url(./FuturaDemiC\ Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaFuturisC';
    src: url(./FuturaFuturisC.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaFuturisC';
    src: url(./futurafuturiscBold.otf) format('opentype'),
        url(./futurafuturiscBold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLightC';
    src: url(./FuturaLightC\ Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}
